.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.raleway-text {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Nav style */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: blue;
    padding: 50px 150px;

}

.btn-primary {
    background-color: blue;
    font-weight: bold;
    font-size: 16px;
    color: white;
    border: none;
    padding: 12px 36px;
    border-radius: 10px;

}

.nav-title {
    font-weight: 800;
    font-size: 34px;
}

/* banner-content */
.banner-title {
    font-weight: bold;
    font-size: 65px;
    text-align: center;
    margin-top: 158px;

}

.btn-stay {
    background-color: blue;
    font-weight: bold;
    font-size: 16px;
    color: white;
    border: none;
    padding: 12px 36px;
    border-radius: 10px;
    align-items: center;
    margin-bottom: 152px;
}

.banner-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* section style */

.action-text {
    margin: 60px;
}

.action-heading {
    font-weight: bold;
    font-size: 42px;
    margin: 0%;
}

.action-pr {
    font-weight: 400px;
    font-size: 24px;
    color: #252432;
}

.action-btn {
    background-color: blue;
    font-weight: bold;
    font-size: 16px;
    color: white;
    border: none;
    padding: 12px 36px;
    border-radius: 10px;
}

.main-action {
    display: flex;
    justify-content: space-between;
    margin: 123px 169px;
}

.action-img {
    border-radius: 48px;
}