* {
    margin: 0%;
}

.theme-color {
    background-color: #f4f5f7;
}

.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.raleway-text {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Nav style */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: blue;
    padding: 50px 150px;

}

.btn-primary {
    background-color: blue;
    font-weight: bold;
    font-size: 16px;
    color: white;
    border: none;
    padding: 12px 36px;
    border-radius: 10px;

}

.nav-title {
    font-weight: 800;
    font-size: 34px;
}

/* banner-content */
.banner-title {
    font-weight: bold;
    font-size: 65px;
    text-align: center;
    margin-top: 158px;
    margin-bottom: 37px;

}

.btn-stay {
    background-color: blue;
    font-weight: bold;
    font-size: 16px;
    color: white;
    border: none;
    padding: 12px 36px;
    border-radius: 10px;
    align-items: center;
    margin-bottom: 152px;
}

.banner-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* section style */

.action-text {
    margin: 60px;
}

.action-heading {
    font-weight: bold;
    font-size: 42px;
    margin: 0%;
}

.action-pr {
    font-weight: 400px;
    font-size: 24px;
    color: #252432;
    padding-bottom: 23px;
}

.action-btn {
    background-color: blue;
    font-weight: bold;
    font-size: 16px;
    color: white;
    border: none;
    padding: 12px 36px;
    border-radius: 10px;
}

.main-action {
    display: flex;
    justify-content: space-between;
    margin: 123px 169px;
}

.action-img {
    border-radius: 48px;
}

/* number count */

.count-section {
    background-color: #E5E7FF;
    margin: 116px 148px;
    border-radius: 24px;
}

.count-text {
    font-weight: bold;
    font-size: 38px;
    text-align: center;
    padding: 50px 142px;
}

.count-data {
    display: flex;
    justify-content: space-around;
}

.count-heading {
    color: #4E47FF;
    font-weight: bold;
    font-size: 80px;
    margin: 0px;
}

.count-pr {
    text-align: center;
    margin-top: 0%;
    margin-bottom: 50px;
}

/* review section */

.review {
    text-align: center;
    font-weight: bold;
    font-size: 42px;
}

.review-star {
    display: flex;
    gap: 4px;
}

.review-heading {
    font-size: 24px;
    margin: 0%;
    padding: 10px 0px;
}

.review-pr {
    font-size: 16px;
    margin: 0%;
}

.review-type {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-top: 21px;
}

.review-author {
    display: flex;

}

.review-details {
    margin-top: 21px;
    margin-left: 12px;
}

.review-name {
    color: #757575;
    margin-bottom: 0%;
}

.review-date {
    color: #B3B3B3;
    margin: 0%;
}

.review-section {
    padding: 24px;
    border-radius: 14px;
    background-color: #FFFFFF;
    gap: 24;

}

.review-group {
    margin: 50px 150px;
    display: flex;
    justify-content: space-around;
}

/* option section */

.option-heading {
    font-weight: bold;
    font-size: 50px;
    padding-bottom: 20px;
}

.option-pr {
    color: #000000;
    padding-bottom: 20px;
    font-size: 20;
}

.option-btn {
    background-color: blue;
    font-weight: bold;
    font-size: 16px;
    color: white;
    border: none;
    padding: 12px 36px;
    border-radius: 10px;
    display: block;

}

.option-img {
    height: 364px;
    border-radius: 48px;
    display: block;
    margin-top: 20px;
}

.option-main {
    justify-items: center;
    background-color: #FFFFFF;
    padding: 71px 150px;
    margin: 130px 150px;
    border-radius: 14px;
}

/* section input */
.input-heading {
    font-weight: bold;
    font-size: 97px;
    margin-left: 150px;
}

.input-label {
    margin-right: 115px;
    display: block;
    font-weight: 500px;
    font-size: 18;

}

.input-in {

    font-size: 20px;
}

.input-btn {
    background-color: blue;
    font-weight: bold;
    font-size: 16px;
    color: white;
    border: none;
    padding: 19px 100px;
    border-radius: 10px;
    width: 100%;
}

.input-main {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 85px;

}

.input-text {
    margin-right: 150px;
}

.input-in {
    width: auto;
    padding-top: 10px;
    padding: 2px;
    padding-bottom: 10px;
    width: 100%;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
}

/* footer section */

.section-title {
    font-weight: 900;
    font-size: 90px;
    color: blue;
}

.title-pr {
    font-size: 16px;
    color: #8987A1;
    margin-bottom: 20px;
}


div ul li {
    list-style: none;
    display: inline;
    margin-right: 48px;
}

div li a {
    text-decoration: none;
    font-size: 16px;
    color: #8987A1;
}

.header-title {
    text-align: center;
    background-color: #FFFFFF;
    padding: 104px;

}

/* hover btn */

.action-btn:hover {
    cursor: pointer;
    background-color: #057575;
    font-weight: bold;
    font-size: 16px;
    color: white;
    border: none;
    padding: 12px 38px;
    border-radius: 10px;
}

.btn-primary:hover {
    cursor: pointer;
    background-color: #057575;
    font-weight: bold;
    font-size: 16px;
    color: white;
    border: none;
    padding: 12px 38px;
    border-radius: 10px;
}

.btn-stay:hover {
    cursor: pointer;
    background-color: #057575;
    font-weight: bold;
    font-size: 16px;
    color: white;
    border: none;
    padding: 12px 38px;
    border-radius: 10px;
}

.option-btn:hover {
    cursor: pointer;
    background-color: #057575;
    font-weight: bold;
    font-size: 16px;
    color: white;
    border: none;
    padding: 12px 38px;
    border-radius: 10px;
}

.input-btn:hover {
    cursor: pointer;
    background-color: #057575;
    font-weight: bold;
    font-size: 16px;
    color: white;
    border: none;
    padding: 19px 100px;
    border-radius: 10px;
    width: 100%;
}